.footer {
    background-color: #653263;
}
.container__footer {
    font-family: OpenSan;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    ul {
        padding-left:0;
        margin: 10px 0;
    }
    h4{
        margin: 0 5px;
    }
    li {
        font-size: 14px;
        list-style-type: none;
        padding:3px;
    }

}
.footer-right{
    text-align: end;
    li:first-child{
        font-weight: bold;
    }
}
.footer__copyright{
    color:#fff;
    padding-bottom: 40px;
    font-family: OpenSan;
    font-size: 14px;
    position: relative;
}
.footer__copyright::after{
    width: 30px;
    content: "";
    background-color: #fff;
    position: absolute;
    // transform: translate(-40%,8px);
    height: 6px;
    left: 0;
    top:-10px;
}
