.history {
    background-image: url(../images/Landing-Page-Hai-Phong_4.jpg);
    background-size: cover;
    padding: 250px 40px 100px;
    color: #fff;
}
.history__container{
    width: 40%;
    h2{
        font-family: Bodoni;
        line-height: 1.5;
        font-size: 34px;
        font-weight: lighter;
    }
    p{
        font-family: OpenSan;
        font-weight: lighter;
        font-size: 14px;
    }
}