.navbar{
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 25%;
    background-color: #ad7ca3;
    transform: translateX(-100%);
    opacity: 0;
    z-index: 100;
    transition: all linear 0.5s;
}
#togger{
    display: none;
}
.nav__button{
    display: none;
}
.navbar__close{
    position: absolute;
    top: 12px;
    right: 12px;
    width: 40px;
    height: 40px;
    color: #fff;
}
.nav__menu{
    height: 100%;
    padding: 20px;
}
.nav__logo{
    width: 60%;
    padding-bottom: 10px;
}
.nav__list > li::after{
    content: "";
    height: 1px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    top:-75%;
}
.nav__list > li:last-child:before{
    content: "";
    height: 1px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -75%;
}
.nav__list > li{
    display: block;
    position: relative;
    width: 100%;
}
.nav__link:last-child{
    display: flex;
    align-items: center;
    img{
        border-radius: 100rem;
        margin-right: 5px;
    }
}

.nav__list{
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:30px;
    li{
        list-style-type: none;
    }
}
.nav__link{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: OpenSan;
    font-size: 12px;
    
}
#togger:checked ~ .navbar{
    transform: translateX(0);
    opacity: 1;
}
#togger:checked ~ .header__overlay{
    display: block;
}
.nav__close{
    font-size: 10px;
}
.header__overlay{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
    display: none;
}
