
@media only screen and (max-width: 500px) {

    .container{
        width: 90%;
        margin: 0 auto;
    }
    .header{
        padding:30px 10px;
    }
    .header__top{
        display: none;
    }
    .header__content{
        h1{
            font-size: 16px;
        }
        h2{
            font-size: 14px;
        }
        h3{
            font-size: 12px;
        }
    }
    .header__content .header_content-top::after {
        width: 30px;
        transform: translateX(-33%);
    }
    .header__content .header_content-top{
        margin-bottom: 40px;
    }
    .header__content .header__content-bottom strong{
        font-size: 12px;
    }
    .header__content .header__content-bottom ul{
        margin:20px 0;
        padding: 0;
    }
    .header__content .header__content-bottom li{
        font-size: 12px;
        padding: 0 15px;
    }
    .header__content .header__content-bottom li:nth-child(2) .sale{
        font-size: 16px;
        padding: 0 15px;
    }
    .header__content .header__content-bottom li:nth-child(2) .cost{
        font-size: 8px;
        padding:2px 10px;
    }
    .header__content .header__content-bottom li:last-child {
        font-size: 10px;
    }
    .header__content .header__content-bottom span{
        padding: 0;
        font-size: 10px;
    }
    //section1
    .advantage__title{
        font-size: 16px;
        margin: 40px 0;
    }
    .advantage__content{
        flex-direction: column;
        gap:50px;
    }
    .advantage__item .item__title{
        font-size: 14px;
    }
    .advantage__item .item__desc{
        font-size: 12px;
    }
    //section2
    .history{
        padding: 0;
    }
    .history__container{
        width: 70%;
        padding: 80px 30px 40px;
    }
    .history__container h2{
        font-size: 20px;
    }
    .history__container p{
        font-size: 8px;
    }
    //register
    .container__register{
        flex-direction: column;
    }
    .register__left{
        width: 90%;
        margin: 0 auto;
    }
    .register__title{
        h2{
            font-size: 18px;
        }
        h3{
            font-size: 14px;
        }
    }
    .register__title::after{
        width: 30px;
    }
    .register__service{
        width: 90%;
        font-size: 16px;
        font-weight: bold;
    }
    .register__service span:first-child{
        display: inline-block;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .register__cost-table .text{
        font-size: 16px;
        font-weight: bolder;
        padding: 5px 20px;
    }
    .register__cost-table .sale{
        font-size: 22px;
    }
    .register__location span{
        font-size: 12px;
    }
    .register__location h3{
        font-size: 14px;
        font-weight: bold;
    }
    .register__right{
        width: 70%;
        margin: 0 auto;
    }
    .regiser__form h2{
        font-size: 16px;
    }
    .regiser__form span{
        font-size: 12px;
        width: 90%;
        text-align: justify;
    }
    .regiser__form label{
        font-size: 12px;
    }
    .regiser__form input{
        border-radius: 10px;
    }
    .regiser__form button{
        font-weight: bolder;
        border-radius: 10px;
    }
    .regiser__form .img-tag{
        transform: translateY(-92%);
    }
    //footer
    .container__footer{
        flex-direction: column;
    }
    .container__footer h4{
        font-size: 12px;
    }
    .container__footer li{
        font-size: 10px;
    }
    .footer-right{
        text-align: start;
        padding: 30px 0;
    }
    .footer-left{
        border-bottom: 1px solid #fff;
        padding: 30px 0;
    }
    .footer__copyright{
        font-size: 10px;
        b{
            font-weight: bold;
        }
    }
    .footer__copyright::after{
        width: 20px;
        content: "";
        background-color: #fff;
        position: absolute;
        height: 4px;
        left: 0;
        top: -10px;
    }
    //nav

    .nav__button{
        display: block;
    }
}


